<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>

<body>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="/dashboard" style="font-size: 25px; text-decoration: none">Dynamix</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a routerLink="/home">Home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a onclick="document.getElementById('id01').style.display='block'"><span class="glyphicon glyphicon-log-in" routerLink=""></span> Login</a></li>
        <div class="jumbtron">
          <h1 class="display-4 text-center">Create Account</h1>
          <hr>
          <div class="row">
            <div class="col-md-5">
              <app-user></app-user>
            </div>
            <div class="col-md-7">
              <app-user-list></app-user-list>
            </div>
          </div>
        </div>


      </ul>
    </div>
  </nav>
  <!-- <div>
    <img class="homePhotos" src="https://wallpapershome.com/images/pages/pic_h/378.jpg" style="width:100%">
  </div> -->




  <h2>Registered Users</h2>

  <table class="table">
    <!-- <thead>
      <tr>
        <th *ngFor="let head of users" scope="col">{{head}} </th>
      </tr>
    </thead> -->
    <tbody>
      <tr *ngFor="let user of users">
        <td scope="row">{{user.fullName}}</td>
      </tr>
    </tbody>
</table>



</body>
  </html>


