<!DOCTYPE html>
<html lang="en">
  <head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Rate a Photo</title>
</head>

<body>
  <form id="form">
      <div class="form-group">
    <input type="number" id="width">
    </div>
    <div class="form-group">
    <input type="number" id="height">
  </div>
    <div class="form-group">
    <input type="submit" value="Get Image">
  </div>
  </form>
  <img id="img">
</body>

<script>
  var form = document.getElementById('form')

  form.addEventListener('submit',function(event){
    event.preventDefault()

    var width = document.getElementById('width').value
    var height = document.getElementById('height').value

    var url = `https://source.unsplash.com/random`

    var image = document.getElementById('img')
    image.src = url
  })
</script>

</html>
