<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/w3css/3/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
  </head>

  <body>
  <form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
    <input type="hidden" name="EmployeeID" #ReviewID="ngModel" [(ngModel)]="service.formData.ReviewID">

    <div class="form-group">
      <label>Creator</label>
      <input name="Creator" #Creator="ngModel" [(ngModel)]="service.formData.CreatorID" class="form-control" required>

    </div>

    <div class="form-group">
      <label>Title</label>
      <input name="Title" #Title="ngModel" [(ngModel)]="service.formData.Title" class="form-control" required>

    </div>
    <div class="form-group">
      <label>Comment</label>
      <input name="ReviewComment" #ReviewComment="ngModel" [(ngModel)]="service.formData.ReviewComment" class="form-control">

    </div>

    <div class="form-group">
      <label>Location</label>
      <input name="LocationID" #LocationID="ngModel" [(ngModel)]="service.formData.LocationID" class="form-control">

    </div>


    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Photo</label>
        <input name="ReviewURL" #ReviewURL="ngModel" [(ngModel)]="service.formData.ReviewURL" class="form-control">

      </div>
      <div class="form-group  col-md-6">
        <label>Rating</label>
        <input name="RatingID" #RatingID="ngModel" [(ngModel)]="service.formData.RatingID" class="form-control">
      </div>

    </div>
    <div class="form-group">
      <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block">SUBMIT</button>
    </div>

  </form>

</body>
</html>
