<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/w3css/3/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
  </head>
<body>
<div class="w3-theme-l5">

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="/dashboard" style="font-size: 25px; text-decoration: none">Dynamix</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a routerLink="/home">Home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <li><a routerLink="/Account"><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>
      </ul>
    </div>
  </nav>

  <h1>About Us Page</h1>
  <p></p>
  <p></p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="https://media-exp1.licdn.com/dms/image/C4E03AQFHxKKW5vdukw/profile-displayphoto-shrink_200_200/0?e=1593043200&v=beta&t=XVzoGQ5z3lqiQGsmAIbTYZp82u2T8FpHztQzQihPsk4" alt="Jane" style="width:100%">
      <div class="container">
        <h2>Kyran Bryant</h2>
        <p class="title">Software Developer</p>
        <p>Adept at working with Agile and Scrum methodologies to accomplish project milestones according to specific time frames. Able to use C#, C++, HTML, SQL, JavaScript, CSS, and other programming languages to complete work. Highly organized and detail-oriented professional with 4 years of progressive experience in the field. Knowledgeable professional with a background in video game prototypes and development. A driven game Developer known for reporting on the design process to the appropriate stakeholders and debugging new and existing projects. </p>
        <p>K.B_Bryant@icloud.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="https://avatars0.githubusercontent.com/u/23324718?s=460&u=fef34cc04f24e8c9b5f9ba2eaa70a9afe99832a4&v=4" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Haroldo Altamirano</h2>
        <p class="title">Software Developer</p>
        <p>I am Full Stack Software Developer. My focus is developing highly maintainable, reusable and concise programs. I lead teams through high stress, time constrained environments and delivered applications. As a Full Stack Developer I developed all parts of applications, from front end to backend and data access logic. I set up remote automated testing and continuous deployment to cloud services. </p>
        <p>haroldoalt@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>
</body>

</html>
